[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pygame = "*"
numpy = "*"
tensorboard = "*"
setuptools = "==59.5.0"
torch = "==1.8.1"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.7"
